*{
    padding : 0;
    margin : 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.fullPage{
    width : 100%;
    height : 100vh;
}
header{
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin : 1.5em;
}
.header{
    display : flex;
    align-items: center;
}
.header button{
    border : none;
    background-color : transparent;
    color : rgb(33,180,123);
    font-size : 1em;
}
.header h2{
    color : rgb(33,180,123);
    margin-left : 1em;
}
.menu a{
    margin : 1em;
    text-decoration: none;
    color : grey;
}
.hr{
    width : 100%;
    box-shadow : 2px 2px 4px lightgrey;
    height : 0.5px;
    margin-top : 0.5em;
}

.heads{
    display : flex;
    flex-direction: column;
}
.head{
    display : flex;
    align-items: center;
    margin : 1.5em;
}
.head h3{
    font-size : 2em;
}
.head p{
    margin-top : 1em;
    margin-left : 0.5em;
    font-size : 0.8em;
    color : grey;
}
.options{
    display : flex;
    justify-content: space-between;
    margin-left : 2em;
    margin-right : 2em;
}
.option{
    display : flex;
}
.options button{
    padding : 0.5em 1em 0.5em 1em;
    border-radius : 5px;
    background : transparent;
    color : rgb(33,180,123);
    border : 1px solid rgb(33,180,123);
}
.option input,select{
    padding : 0.5em;
    border : 1px solid lightgrey;
}
.checkbox{
    display : flex;
    margin-right : 1em;
    align-items: center;
}
.checkbox h3{
    margin-left : 0.5em;
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(33,180,123);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .option select,input{
      padding : 0.4em;
      margin-right : 1em;
  }
  .option h4{
      display : flex;
      align-items: center;
      justify-content: center;
  }
  .blocks{
      display : flex;
      width : 100%;
      flex-wrap : wrap;
      margin-top : 1em;
    justify-content: center;
  }
  .block{
      margin : 1.5em;
  }
  .desc{
      display : flex;
      justify-content: space-between;
      margin-top : 0.5em;
  }
  .desc h3{
      color : rgb(33,180,123);
      font-weight:900;
      margin-right : 0.5em;
  }
  .block h5{
      color : grey;
      font-weight: lighter;
      margin-top : 0.5em;
  }
  .under {
      display : flex;
      justify-content: space-around;
      color : grey;
      margin-top : 1em;
  }

  @media (max-width : 3000px){
      .options button{
          display : none;
      }
  }

  @media (max-width : 1125px){
      .heads{
          display : flex;
          align-items: center;
          justify-content: center;
      }
        .options{
            display : flex;
            justify-content: center;
            flex-wrap:wrap;
        }
        .option{
            margin-top:1em;
        }
        .options button{
            display : none;
        }
  }

  @media (max-width : 570px){
      .option{
          display : none;
          flex-wrap : no-wrap;
      }
      .options button{
          display : flex;
      }
      .menu {
          display : none;
      }
  }